<!DOCTYPE html>
<html>
<head>
  <title>ContactBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/assets/libs/require.js"></script>
  <script type="text/javascript" src="/assets/libs/r.js"></script>
  <script type="text/javascript" src="/assets/app/startup.js"></script>
</head>

<body>
<%= yield %>
</body>
</html>
